[submodule "lib/kitty"]
	path = lib/kitty
	url = https://github.com/msoeken/kitty
[submodule "lib/alice"]
	path = lib/alice
	url = https://github.com/msoeken/alice
[submodule "lib/lorina"]
	path = lib/lorina
	url = https://github.com/hriener/lorina.git
[submodule "lib/percy"]
	path = lib/percy
	url = https://github.com/msoeken/percy
